<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmEase - Your Agricultural Assistant</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-edu-meeting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">

    {% block css %}

    {% endblock %}

</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ url_for('home') }}" class="logo">
                            FarmEase
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ url_for('home') }}" {% if request.path == '/' %}class="active"{% endif %}>Home</a></li>
                            <li><a href="{{ url_for('signup') }}" {% if request.path == '/signup' %}class="active"{% endif %}>Signup</a></li>
                            <li><a href="{{ url_for('login') }}" {% if request.path == '/login' %}class="active"{% endif %}>Login</a></li>
                            <li><a href="{{ url_for('about') }}" {% if request.path == '/about' %}class="active"{% endif %}>About</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>

    </footer>

    {% block js %}

    {% endblock %}
</body>

</html>